body
{
    background-color: rgb(233, 233, 233);
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.headercontainer
{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: white;
}

.logoImage
{
    width: 260px;
    height: 200px;
    
}

.menubar
{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menubar button
{
    overflow: hidden;
    color: white;
    background:rgb(105, 164, 212);
    border: none;
    height: 50px;
    width: 12%;
    font: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 5px;
    margin-right: 5px; 
    cursor: pointer;  
    box-shadow: 2px 2.5px 6px #8888884b;
}

.menubar button:hover 
{
    background-color: rgb(96, 109, 165);
}

.menubar button:active 
{
    background-color: rgb(96, 109, 165);
}

.designstripe
{
    display: flex;
    background-color: rgb(105, 164, 212);
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    width: 100%;
}

.container
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color:  rgb(233, 233, 233); 

}

.sitebox
{
    display: none;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.converterHeader
{
    text-align: center;
}

.numberConverter
{ 
    display: flex;
    justify-content: center;
}

.numberConverter input
{
    border: 2px solid  rgb(105, 164, 212);
    background-color: rgba(0,0,0,0  );
    box-shadow: 5px 10px 8px #888888;
    margin-right: 5px;
}

.numberConverter input:focus
{
    border: 2px solid #555;
}

.clearInputs
{
    display: flex;
    justify-content: center;
}

.clearInputs button
{
    overflow: hidden;
    color: white;
    background:  rgb(105, 164, 212);
    border: none;
    float: right;
    height: 50px;
    width: 200px;
    font-size: 100%;
    margin-bottom: 5%; 
    align-self: center;
    cursor: pointer;
    box-shadow: 2px 2.5px 6px #8888884b;
}

.combinatoricsHeader
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.combSelector
{
    display: flex;
    justify-content: center;
}

.combSelector button
{
    overflow: hidden;
    color: white;
    background:  rgb(105, 164, 212);
    border: none;
    float: right;
    height: 50px;
    width: 200px;
    font-size: 100%;
    margin-bottom: 1%; 
    margin-left: 5%;
    margin-right: 5%; 
    align-self: center;
    cursor: pointer;
    box-shadow: 2px 2.5px 6px #8888884b;
}

.permAnsw
{
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.permButton button
{
    overflow: hidden;
    color: white;
    background:  rgb(105, 164, 212);
    border: none;
    float: right;
    height: 50px;
    width: 200px;
    font-size: 100%;
    margin-bottom: 1%; 
    margin-left: 5%;
    margin-right: 5%; 
    align-self: center;
    cursor: pointer;
    box-shadow: 2px 2.5px 6px #8888884b;
}

.combAnsw
{
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.calcbox
{
    display: none;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.calcbox button
{
    overflow: hidden;
    color: white;
    background:  rgb(105, 164, 212);
    border: none;
    float: right;
    height: 50px;
    width: 200px;
    font-size: 100%;
    margin-bottom: 5%; 
    margin-left: 5%;
    margin-right: 5%; 
    align-self: center;
    cursor: pointer;
    box-shadow: 2px 2.5px 6px #8888884b;
}
table {
    border-collapse: collapse;
}
td,th {
    border: 1px solid grey;
    text-align: left;
    padding: 0.5rem;
    text-align: left;
}

#buttonChange {
    overflow: hidden;
    color: white;
    background:  rgb(105, 164, 212);
    border: none;
    float: right;
    height: 50px;
    width: 200px;
    font-size: 100%;
    margin-bottom: 5%; 
    align-self: center;
    cursor: pointer;
    box-shadow: 2px 2.5px 6px #8888884b;
}

#randomValuesbutton {
    overflow: hidden;
    color: white;
    background:  rgb(105, 164, 212);
    border: none;
    float: right;
    height: 50px;
    width: 200px;
    font-size: 100%;
    margin-bottom: 1%; 
    align-self: center;
    cursor: pointer;
    box-shadow: 2px 2.5px 6px #8888884b;
}

#randomNumber {
    margin:20px;
    align-self: center;
}

#results {
    align-self: center;
    margin-bottom: 5%;
}

.randomVal button {
    overflow: hidden;
    color: white;
    background: orangered;
    border: none;
    height: 50px;
    width: 12%;
    font: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 5px;
    margin-right: 5px; 
    cursor: pointer; 
    box-shadow: 5px 10px 8px #888888;
}

#optionalFunction
{
    text-align: center;
}

#optionalFunction button
{
    overflow: hidden;
    color: white;
    background:  rgb(105, 164, 212);
    border: none;
    float: right;
    height: 50px;
    width: 200px;
    font-size: 100%;
    margin-bottom: 5%; 
    margin-left: 5%;
    margin-right: 5%; 
    align-self: center;
    cursor: pointer;
    box-shadow: 2px 2.5px 6px #8888884b;
}

#optionalFunction input
{
    border: 2px solid  rgb(105, 164, 212);
    background-color: rgba(0,0,0,0  );
    box-shadow: 5px 10px 8px #888888;
    text-align: center;
}

#optionalFunction input:focus
{
    border: 2px solid #555;
}

.numberAnsw
{
    margin-top: 10px;
}

.footer
{
    font-size: 14px;
    text-align: center;
    background: orangered;
    width: 100%;
    height:100px;
    margin-bottom:100px;
    bottom: 0%;
}

@media (max-width: 800px)
{
.menubar
{
    display: block;
    width: 100%;
    height: 45%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
    
.menubar button
{
    overflow: hidden;
    color: white;
    background: rgb(105, 164, 212);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height: 60px;
    width: 100%;
    font: Arial, Helvetica, sans-serif;
    font-size: 100%;
    cursor: pointer;  
    box-shadow: 2px 2.5px 6px #8888884b;
}

.designstripe
{
    display: flex;
    background-color: rgb(173, 103, 38);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    width: 100%;
}

.container
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white; 

}

}