body
{
    background-color: lightgray;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.headercontainer
{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: white;
}

.menubar
{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menubar button
{
    overflow: hidden;
    color: white;
    background: orangered;
    border: none;
    height: 50px;
    width: 12%;
    font: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 5px;
    margin-right: 5px;   
}

.menubar button:hover 
{
    background-color: brown;
}

.designstripe
{
    display: flex;
    background-color: rgb(173, 103, 38);
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    width: 100%;
}

.container
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray; 

}

.sitebox
{
    display: none;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.converterHeader
{

}

.numberConverter
{ 
    display: flex;
    justify-content: center;

}

@media (max-width: 800px)
{
.menubar
{
    display: block;
    width: 100%;
    height: 45%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
    
.menubar button
{
    overflow: hidden;
    color: white;
    background: orangered;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height: 50px;
    width: 100%;
    font: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.designstripe
{
    display: flex;
    background-color: rgb(173, 103, 38);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    width: 100%;
}

.container
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white; 

}

}